.stats__box{
    border: 1px solid var(--border-color);
  
    padding: 10px;
    
    text-align: center;
    border-radius: 5px;
    height: 150px;
}
.stats__no{
    color: var(--first-color);
    font-size: var(--h1-font-size);
    line-height: 1.2;
}
.stats__title{
    font-size: var(--small-font-size);
    line-height: 1.6;
    padding-left:45px;
    position: relative;
}
.stats__title::before{
    content: '';
    position: absolute;
    left: 0;
    top: 25%;
    width: 30px;
    height: 1px;
    background-color: var(--text-color);
}
